.footer__link {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  text-decoration: none;
  transition: .8s;
}
.footer__link:hover {
  opacity: .5;
}



@media screen and (max-width: 540px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
  }
}