.place {
  max-width: 984px;
  display: grid;
  grid-template-columns:minmax(min-content, 460px) minmax( min-content, 484px);
  gap: 48px 40px;
  margin: 0 0 80px;
}
.place:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: minmax(min-content, 440px) minmax(min-content, 456px);
    gap: 48px 32px;
    margin: 0 auto 80px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: minmax(min-content, 340px) minmax(min-content, 352px);
    gap: 48px 28px;
    margin: 0 auto 72px;
  }
}

@media screen and (max-width: 600px) {
  .place {
    grid-template-columns: minmax(min-content, max-content);
    gap: 32px;
    margin: 0 auto 50px;
  }
}
