.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1184px;
  margin: 0 auto;
  padding: 0 48px 24px;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 0 16px 24px;
  }
}

@media screen and (max-width: 540px) {
  .footer {
    flex-direction: column;
  }
}
